/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


/*основной контейнер*/
.page {
  display: flex;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--inter-width);
  min-block-size: 100dvb;
  max-inline-size: 100%;
  flex-direction: column;
  align-items: center;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*шапка сайта*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 118px;
  margin-block: 101px;
  border: var(--main-border);
  background-color: var(--background-color);
  inline-size: var(--page-width);
  text-transform: uppercase;
}

/* Заголовок шапки */
.header_title {
  font-family: var(--accent-font);
  font-size: var(--header-title-font-size);
  line-height: 1;
  margin-bottom: 22px;
}

/* Подзаголовок шапки */
.header_subtitle {
  font-family: var(--accent-font);
  font-size: var(--header-subtitle-font-size);
  font-weight:var( --inter-width);
  line-height: 1;
}

/* Универсальные стили для header и main */
.header,
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  max-width: var(--content-width);
}

/* карточка */
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  margin-bottom: 50px;
  border: var(--main-border);
  width: 100%;
  max-width: var(--content-width);
}

/* заголовок карточки */
.card_title {
  padding: 5px 10px ;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--title-width);
}

/* Текст карточки */
.card_text {
  line-height: 21px;
  font-weight: var(--inter-width);
}

/* Контейнер с изображением автобуса */
.card_image-wrapper {
  position: relative;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

/* сама картинка в карточке */
.card_image {
  display: block;
  inline-size: 100%;
  block-size: 371px;
  object-fit: cover;
  object-position: 97%; 
  aspect-ratio: 1 / 1; 
}

/* надпись поверх картинки */
.card_tag {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--font-size-card);
  opacity: 0.5;
  text-shadow: 0 0 2px var(--shadow-color);
  mix-blend-mode: hard-light;
  z-index: 1;
    /* fallback */
  text-shadow: 0 0 2px var(--shadow-color);
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) or (text-stroke: 1px var(--shadow-color)) {
  .card_tag {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none; 
  }
}

/* Контент карточки (текст и кнопки) */
.card_content {
  padding: 25px 25px 23px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

/* Блок (кнопок) */
.card_actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

/* Общие стили кнопка с иконкой и (сердце) */
.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 39px; 
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

/* Скрываем искры иконки лайка по умолчанию */
.like-icon .sparks {
  opacity: 0;
}

/* Обводка при фокусе */
.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: -2px;
}

/* Размер кнопки лайка */
.card__like-button {
  width: 130px;
  height: 38px;
}

/* Фокус */
.decorated_button:focus {
  outline: none;
}

.decorated_button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

/* Кнопка с декоративным эффектом */
.decorated_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--main-border);
  background-color: white;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  border: 2px solid var(--main-color);
  background: white;
  cursor: pointer;
  overflow: hidden;
}

/*Текст в кнопке диалог*/
.text-uppercase {
  text-transform: uppercase;
}

/* Текст кнопки с эффектом наложения */
.decorated_button_text {
  mix-blend-mode: difference;
  color: white;
}

/* Псевдоэлемент для анимации заливки */
.decorated_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

/* Анимация при наведении */
.decorated_button:hover::before {
  transform: translateX(0);
}

/* Увеличение яркости */
.filter_brightness {
  filter: brightness(110%);
}

/* Ч/б эффект */
.filter_grayscale {
  filter: grayscale(0.8);
}

/* Усиление цвета */
.filter_saturate {
  filter: saturate(298%);
}

/* Изменение оттенка */
.filter_hue-rotate {
 filter: hue-rotate(-330deg);
}

/* Инверсия и корректировка */
.filter_invert {
  filter: invert(0.85) hue-rotate(20deg) brightness(1.2);
}

/* Сепия эффект */
.filter_sepia {
  filter: sepia(90%); 
}

/* Размытие */
.filter_blur {
  filter: blur(8px);
}

 /* Смешанный фильтр */
.filter_mixed {
  filter: invert(0.25) hue-rotate(90deg) saturate(140%) blur(2.1px);
}

/* Общие стили диалога */
.dialog {
  border: var(--main-border);
  padding: 28px 37px 10px;
  background-color: var(--background-color);
  flex-direction: column;
  gap: 27px;
  height: 189px;  
  max-width: 341px; 
  width: 100%;       
}

.dialog[open] {
  display: flex;
}

/* Блок с иконкой и текстом */
.dialog_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

/* Полупрозрачный фон вокруг */
.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_floppy_svg {
  width: 41px;
  height: 41px;
  flex-shrink: 0; 
}

/* Шрифт текста */
.dialog_text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

 /* Размер кнопки диалога */
.dialog_button {
  inline-size: 100%;
  min-block-size: 38px;
  width: 260px;
}

/* Блокировка скролла при открытом диалоге */
body:has(.dialog[open]) {
  overflow: hidden;
}

/* Размер SVG дискеты  */
.floppy_svg {
  fill: currentColor;
  color: white;
  mix-blend-mode: difference;
  width: 28px;
  height: 28px;
}

.dialog_icon {
  width: 29px;
  height: 29px;
}

 /* Кнопка сохранения размеры и центрирование */
.save_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 306px;
  min-height: 84px;
  margin: 0 auto;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 100px;
}

@media (min-width: 696px) {
  /* шапка */
  .header {
    padding-block: 130px;
    margin-block: 96px 96px;
  }

  /* карточки */
  .card {
    margin-bottom: 51px;
  }

  .card_image-wrapper {
    block-size: 700px;
  }

  .card_image {
    block-size: 100%;
  }

  /* кнопка сохранения */
  .save_button {
    flex-direction: row;
    width: 338px;
    min-height: auto;
    height: 55px;
  }

  /* иконка дискеты */
  .floppy_svg {
    width: 24px;
    height: 22px;
  }

  /* текст кнопки */
  .decorated_button_text {
    font-size: var(--button-font-size);
    font-weight: 400;
    line-height: 90%;
  }

  /* диалог */
  .dialog {
    max-width: 350px; 
    padding: 26px 26px ;
    gap: 30px;
  }

  .dialog_content {
    display: flex;
  }

  .dialog_floppy_svg {
    width: 39px;
    height: 39px;
  }

  .dialog_button {
    inline-size: 100%;
  }
}